html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*追記ここから*/

p {
	color: #4a4848;
}

@font-face {
	font-family: "Kazesawa-Regular";
	src: url(/fonts/Kazesawa-Regular.woff2);
}

@font-face {
	font-family: "Kazesawa-Bold";
	src: url(/fonts/Kazesawa-Bold.woff2);
}

@font-face {
	font-family: "Kazesawa-Semibold";
	src: url(/fonts/Kazesawa-Semibold.woff2);
}

@font-face {
	font-family: "Rounded-MPlus-1C-Bold";
	src: url(/fonts/rounded-mplus-1c-bold.woff2);
}

@font-face {
	font-family: "seanbecker-extrabold-italic";
	src: url(/fonts/seanbecker-extrabold-italic.woff2);
}

.kb {
	font-family: "Kazesawa-Bold";
}

.kr {
	font-family: "Kazesawa-Regular";
}

.ksb {
	font-family: "Kazesawa-Semibold";
}

.rmb {
	font-family: "Rounded-MPlus-1C-Bold";
}

.sbei {
	font-family: "seanbecker-extrabold-italic";
}

/* 時計の下線 */
.clock-hr {
	position: relative;
	height: 2px;
	border-width: 0;
	background-color: #9289fb;
	background-image: -webkit-linear-gradient(left,	#c96fa3 0%, #9289fb 50%, #65cccd 100%);
	background-image:         linear-gradient(90deg, #c96fa3 0%, #9289fb 50%, #65cccd 100%);
}

/* 授業カードの科目名の下線 */
.class-hr {
	width: 100%;
	border-top: 1px dashed #ccc;
	margin: 0.5rem 0 0.5rem;
}

/* ユーザー名とユーザーアイコンを隔てる縦線 */
.user-info-wrapper .user-info-name,
.user-info-wrapper .user-info-icon{
	position: relative;
	margin-right: 0.7rem;
}

.user-info-wrapper .user-info-name::after{
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0 0.5rem;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #949494;
}

/* ユーザー名がはみ出した時に末尾を…にする */
.tpl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* スクロールバー */
::-webkit-scrollbar {
	width: 13px;                
	background-color: #f3f3f3;
	border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
	border-radius: 20px;            
	box-shadow: inset 0 0 10px 10px #909090;
	border: solid 4px transparent;
}

/* 点滅 */
.blink {
	animation: blinking 0.4s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}